@charset "UTF-8";

.chat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    overflow: hidden;
    width: 95%;
    border-radius: 10px;

    & .header_image{
        flex: 0 0 auto;
        height: 14vh;
        width: 100%;
        background-image: url(../../../images/post_image2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 10px;
        
        & header{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            width: 100%;
            padding-left: 20px;
            border-radius: 10px 10px 0px 0px;
            background-color: #0c152ad2;
        }
    }

    & .footer_image{
        flex: 0 0 auto;
        height: 16vh;
        width: 100%;
        background-image: url(../../../images/post_image2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0px 0px 10px 10px;
        margin-top: 10px;

        & form{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 0px 0px 10px 10px;
            background-color: #0c152ad2;
            
            & input{
                min-height: 50px;
                max-width: 80%;
                margin-right: 10px;
            }
        
            & button{
                min-height: 50px;
            }
        }
    }
}

.chat_body{
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.message_sender{
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.message_receive{
    display: flex;
    justify-content: flex-start;
    width: 95%;

    & .receive_user_img{
        height: 45px;
        width: 45px;
        margin-right: 10px;
        background-image: url(../../../images/user.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100px;
    }
}

.message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 60px;
    max-width: 190px;
    padding: 10px 15px 10px 15px;
    background-color: black;
    border-bottom: 1px solid white;
    border-radius: 10px;
    margin-bottom: 25px;

    & .message_date_time{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 160px;
    }

    & p{
        font-size: 17px;
        word-wrap: break-word; /* quebra palavras grandes */
        overflow-wrap: break-word; /* fallback mais moderno */
        white-space: normal; /* garante quebra de linha normal */
        max-width: 100%;
    }

    & hr{
        height: 2px;
        width: 100%;
        margin: 10px 0px 5px 0px;        
    }
}