@charset "UTF-8";

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
    width: 95%;
    margin-bottom: 80px;
    border-radius: 10px;
    background-color: rgba(18, 18, 18, 0.658);
    border: 2px solid white;
}

.profile_image{
    height: 110px;
    width: 110px;
    margin-bottom: 20px;
    border-radius: 100px;
    background-image: url(../../../images/user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}