@charset "UTF-8";

.sidebar{
    position: fixed;          /* Fixa o elemento na tela */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 20vw;
    margin-top: 8%;
    margin-left: 2%;

    & button{
        width: 70%;
        margin-bottom: 50px;
    }
}

.sidebar_items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px 0px 0px 0px;
    width: 70%;

    & li{
        display: flex;
        align-items: center;
        font-size: 19px;
        margin-bottom: 15px;
        color: rgb(255, 255, 255);
        font-weight: 400;
        cursor: pointer;
        transition: all 0.2s ease-out;
        border-radius: 10px;

        & i{
            margin-right: 8px;
        }
    }
    & li:hover{
        transform: scale(1.03);
        color: #00EBC7;
    }
}

.div_btts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    margin: 20px 0px 30px 0px;

    & button, a{
        height: 48px;
        width: 100%;
        margin: 0px 0px 10px 0px;
        font-size: 17px;
    }
}