@charset "UTF-8";

.expiresAt_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    transition: all ease-out 0.3s;
}
.expiresAt_container:hover{
    transform: scale(1.02);
}


.h1_expires{
    font-size: 18px;
    font-weight: bold;
    color: lightgrey;
}

.h2_expires{
    font-size: 14px;
    color: lightslategrey;
}