@charset "UTF-8";


@media screen and (max-width: 767px){

    .hr_formsUtil{
        width: 50%;
    }

    .form{
        width: 75vw;
        margin-top: 0%;
        margin-left: 12%;
    }

    .user_panel_container{

        & .container_input{
            width: 50%;

            & input{
                width: 75%;
            }
        }

        & button{
            font-size: 20px;
            width: 25vw;
        }
    }

    .delete_div{

        button{
            width: 25vw;
        }
    }

}