@charset "UTF-8";


@media screen and (max-width: 767px){

    .container_feed{
        width: 80vw;
        margin-top: 0%;
        margin-left: 12%;
    }

    /* no changes yet */
    .container_feed_2{
        width: 80vw;
        margin-top: 0%;
        margin-left: 12%;
    }

    .feed_options{
        height: 3.5vh;
        width: 100%;

        .search_container_home{
            width: 60%;
        }
    }

    .requests{
        width: 100%;
        padding: 20px 20px 40px 20px;
    }

    .user_container_feed{
        height: 10vh;
        width: 100%;
    }

    .requests_container_image{
        width: 100%;
    }
            
    .user_requests_details{
        height: 10vh;
    }

    .details{
        height: 80%;
    }

    .bttOffers.button{
        width: 30vw;
    }

    .relatedOffers_image{
        width: 100%;
    }


    /*Campaigns feed*/


    .campaigns{
        width: 80vw;
        margin-top: 0%;
        margin-left: 12%;
    }

    .search_container_campaign{

        .searchInput_container_campaign{
            width: 60%;        
        }
    }

    .campaign{

        & .campaign_image{
            height: 10vh;
        }
    }

}