@charset "UTF-8";

.container_home{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 60px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    height: 85vh;
    width: 20vw;
    border: 2px solid #48C78E;
    border-radius: 10px;

    & button{
        width: 70%;
        margin-bottom: 50px;
    }
}

.sidebar_items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px 0px 10px 0px;
    width: 70%;

    & li{
        display: flex;
        align-items: center;
        font-size: 19px;
        margin-bottom: 15px;
        color: white;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.2s ease-out;

        & i{
            margin-right: 8px;
        }
    }
    & li:hover{
        transform: scale(1.04);
    }
}

.container_feed{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    padding: 30px 20px 30px 20px;
    width: 60vw;
    border: 2px solid #48C78E;
    border-radius: 10px;
}

.feed_options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.requests_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
}

.requests{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgb(49, 56, 51);
    border-radius: 10px;

    & .user_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 13vh;
        width: 90%;
        margin-top: 30px;
        border: 2px solid white;

        & .user_image{
            height: 90px;
            width: 90px;
            margin-right: 10px;
            border-radius: 100px;
            background-image: url(../../../images/user.jpg);
            background-size: cover;
        }
    }

    & .user_requests_container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 90%;
        margin-top: 20px;
        border: 2px solid white;

        & .user_requests_title{
            height: 40px;
            width: 90%;
            background-color: azure;
        }

        & .user_requests_description{
            min-height: 15vh;
            max-height: 20vh;
            width: 90%;
            background-color: azure;
        }

        & .user_requests_details{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 17vh;
            width: 90%;
            background-color: azure;

            & .details{
                height: 80%;
                width: 30%;
                border-radius: 10px;
                background-color: rgb(139, 178, 154);
            }
        }
    }
}