@charset "UTF-8";

.container_home{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 60px;
}

.container_feed{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    padding: 0px 20px 30px 20px;
    width: 60vw;
}

.feed_options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    height: 8vh;

    .search_container{
        display: flex;
        flex-direction: row;
        width: 30%;

        & input{
            text-align: center;
            width: 90%;
        }
    
        & i{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            font-size: 25px;
            color: white;
        }
    }

}

.requests_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.requests{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100%;
    border: 4px solid rgb(49, 56, 51);
    border-radius: 10px;

    & .user_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 13vh;
        width: 90%;
        margin-top: 30px;
        border: 2px solid rgb(49, 56, 51);

        & .user_image{
            height: 90px;
            width: 90px;
            margin-right: 10px;
            border-radius: 100px;
            border: 2px solid white;
            background-image: url(../../../images/user.jpg);
            background-size: cover;
        }
    }

    & .user_requests_container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 90%;
        margin-top: 20px;
        border: 2px solid rgb(49, 56, 51);

        & .user_requests_title{
            height: 40px;
            width: 90%;
            background-color: azure;
        }

        & .user_requests_description{
            min-height: 15vh;
            max-height: 20vh;
            width: 90%;
            background-color: azure;
        }

        & .user_requests_details{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 17vh;
            width: 90%;
            background-color: azure;

            & .details{
                height: 80%;
                width: 30%;
                border-radius: 10px;
                background-color: rgb(49, 56, 51);
            }
        }
    }
}