@charset "UTF-8";

.container_home{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 60px;
}

.container_feed{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px 30px 20px;
    width: 60vw;
    margin-top: 9%;
    margin-left: 27%;
}

.feed_options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    height: 8vh;

    .search_container{
        display: flex;
        flex-direction: row;
        width: 30%;

        & input{
            text-align: center;
            width: 90%;
        }
    
        & i{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            font-size: 25px;
            color: white;
        }
    }

}

.requests_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.requests{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px 40px 20px;
    width: 100%;
    border: 4px solid rgb(49, 56, 51);
    border-radius: 10px;

    & .user_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 14vh;
        width: 90%;
        margin-top: 0px;

        & .user_image{
            height: 90px;
            width: 90px;
            margin-right: 20px;
            border-radius: 100px;
            border: 2px solid white;
            background-image: url(../../../images/user.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    & .requests_container_image{
        display: flex;
        align-items: center;
        margin-top: 20px;
        width: 90%;
        background-image: url(../../../images/post_image2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }

    & .user_requests_container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 40px 0px 50px 0px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.787);
        border-radius: 10px;

        & h1{
            text-align: center;
            text-shadow: 0px 3px 4px rgba(0, 0, 0, 1);
        }

        & .user_requests_title{
            min-height: 8vh;
            padding: 10px 0px 10px 0px;
            width: 90%;
        }
        
        & .user_requests_description{
            padding: 30px;
            width: 90%;
            margin-top: 30px;
            background-color: rgb(20, 20, 20);
            border: 3px solid white;
            border-radius: 10px;
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 1);
        }

        & .user_requests_details{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 17vh;
            width: 90%;
            margin-top: 30px;

            & .details{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 90%;
                width: 30%;
                border: 3px solid white;
                border-radius: 10px;
                background-color: rgb(20, 20, 20);
                box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 1);
            }
        }
    }
}

.titles_requests{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.status_aberto{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 8px rgb(17, 255, 0);
    color: rgb(0, 235, 199);
}

.status_fechado{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 8px rgb(255, 0, 0);
    color: rgb(255, 79, 79);
}

.noRequests{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 25vh;
    width: 45vw;
    border-radius: 10px;
    border: 2px solid white;
}

.div_bottoms{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding: 5px;

    & button{
        margin-right: 10px;
        width: 100px;
    }
}